<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Details</title>
    <link rel="stylesheet" href="../../css/bulma.css">
</head>
<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="javascript:history.back()">
           <span class="icon-text">
                <span class="icon">
                    &#8592;
                </span>
                <span>Back</span>
           </span>
        </a>
    </div>
</nav>
<section class="section">
    <div class="container">
        <h1 class="title">{{.Name}}</h1>
        <div class="content">
            <a href="{{index .ContentUrls 0}}">{{index .ContentUrls 0}}</a>
        </div>
    </div>
</section>
</body>
</html>
